
.tag {
    text-align: center;
}
 

.slick-slide img {
    margin: auto;
    width: 400px;
    height: 500px;
    object-fit: cover;
    /* margin-left: 300px; */
}

.aboutMeImgs{
    margin: auto;
    width: 500px;
    height: 600px; 
    margin-left: 300px;
}
